body {
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
}
.box{
    padding: 10%;
    height: fill;
}
.box-2{
    padding: 4%;
}