<body background="https://images.unsplash.com/photo-1527402858-36f052d83df4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y3JhZnR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80">
  <div class="box">
    <h1>Welcome to the Craftify website</h1>
    <br>
    <p>Lets share our crafts over here</p>
    <br>
    <p>and meet people with similiar intrests as we do</p>
    <br>
    <h4>To start pur journey together</h4>
    <h5>Click on Login</h5>
    <p>Lets! Go</p>
  </div>
  <div class="box-2">
    <h4>Don't forget to check us out in about us section</h4>
  </div>
</body>