
<!-- DIY -->

    <div class="card mx-auto border-secondary mb-3" style="width:50rem; margin: 5%;">
        <img class="card-img-top" height="500rem" src=
"https://th.bing.com/th/id/OIP.QSkkCvLUK3CxNkCDdVUV9wHaFj?pid=ImgDet&rs=1"
                    alt="Card image cap">
  
        <div class="card-body">
            <h4 class="card-title" style="text-align:center">
                Cute Cusions
            </h4>
  
            <p class="card-text">
                If you like the product feel free to contact and order through whatsapp
            </p>
            <a href="https://api.whatsapp.com/send?phone=919846195666" class="btn btn-primary" style="margin: 10px; border-color: white; color: white; background-color: chartreuse;">Contact Whatsapp</a>
        </div>
    </div>

    <!-- 2ndone -->

    <div class="card mx-auto border-secondary mb-3" style="width:50rem; margin: 5%;">
        <img class="card-img-top" height="500rem" src=
"https://th.bing.com/th/id/R4421e78d2c3ebe378a99cb89ecefed85?rik=lR8Qfw7RSYJlGg&riu=http%3a%2f%2frender.fineartamerica.com%2fimages%2frendered%2fsearch%2fcanvas-print%2fmirror%2fbreak%2fimages-medium-5%2fromantic-stroll-palette-knlfe-oil-painting-on-canvas-by-leonid-afremov-leonid-afremov.jpg&ehk=VkRt2mUob7LAaXfwUsOAk6qjtznH7qUpcATmalDZB4E%3d&risl=&pid=ImgRaw"
                    alt="Card image cap">
  
        <div class="card-body">
            <h4 class="card-title" style="text-align:center">
                Cute Cusions
            </h4>
  
            <p class="card-text">
                If you like the product feel free to contact and order through whatsapp
            </p>
            <a href="https://api.whatsapp.com/send?phone=919846195666" class="btn btn-primary" style="margin: 10px; border-color: white; color: white; background-color: chartreuse;">Contact Whatsapp</a>
        </div>
    </div>
    