<div class="container">
    <form class="needs-validation" novalidate>
        <br>
            <div class="form-group">
              <label for="inputname">Full Name</label>
              <input type="text" class="form-control" id="inputname" placeholder="First Name">
            </div>
        <div class="form-group">
            <label for="imputemail">Email</label>
            <input type="email" class="form-control" id="imputemail" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="inputpassword">Password</label>
          <input type="password" class="form-control" id="inputpassword" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="inputpassword2">Retype Password</label>
          <input type="password" class="form-control" id="inputpassword2" placeholder="Retype Password">
        </div>
          <div class="form-group">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" placeholder="City">
          </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
</div>