<div class="about-section">
    <h1>About Us Page</h1>
    <p>Just a simple introduction about myself and the team</p>
    <p>And don't forget to follow us.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://3.bp.blogspot.com/-U1iLT1z8j7Y/T3BYgcBWGcI/AAAAAAAABew/UPr74Vg_hV8/s1600/242725_10150195260551122_629911121_7120740_4728359_o.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>A oversighted CEO</p>
          <p>sarath2000is@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <!-- <img src="https://th.bing.com/th/id/Rffdc885802e14d8bc829f738bddcb0f9?rik=iCairZ%2bOhmWlUw&riu=http%3a%2f%2f2.bp.blogspot.com%2f-Er2G4pAwUt0%2fT3BY7VAvIkI%2fAAAAAAAABfA%2fIEeHxGK0U-o%2fs1600%2f242610_10150195279566122_629911121_7120816_3899384_o.jpg&ehk=%2fB7aUih4%2f9pr5wqFgGutK6oPpHs4FgycDOgga6sqp6s%3d&risl=&pid=ImgRaw" alt="Mike" style="width:100%;"> -->
        <img src="https://i.pinimg.com/736x/9b/7b/e0/9b7be04665ae32296bc7a2aa641849f6--character-sketches-character-ideas.jpg" alt="Mike" style="width:100%;">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>A artistic art director</p>
          <p>mikeRoss@gmail.com.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://th.bing.com/th/id/Rffdc885802e14d8bc829f738bddcb0f9?rik=iCairZ%2bOhmWlUw&riu=http%3a%2f%2f2.bp.blogspot.com%2f-Er2G4pAwUt0%2fT3BY7VAvIkI%2fAAAAAAAABfA%2fIEeHxGK0U-o%2fs1600%2f242610_10150195279566122_629911121_7120816_3899384_o.jpg&ehk=%2fB7aUih4%2f9pr5wqFgGutK6oPpHs4FgycDOgga6sqp6s%3d&risl=&pid=ImgRaw" alt="John" style="width:100%; max-height: 50%;">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">Designer</p>
          <p>Our charistmatic designer</p>
          <p>janedoe@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>