<div class="main">
  <div class="left">
    <div class="list-group list-group-flush list-group-item-light">
      <a routerLink="" class="list-group-item list-group-item-action">All</a>
      <a routerLink="drawing" class="list-group-item list-group-item-action">Drawing</a>
      <a routerLink="diy" class="list-group-item list-group-item-action">DIY</a>
      <a routerLink="woodwork" class="list-group-item list-group-item-action">Wood Work</a>      
    </div>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
    </div>
  </div>